In [1]:
%load_ext autoreload
import os

os.chdir(os.path.abspath(os.curdir).replace('notebooks',''))

In [2]:
%autoreload 2
from src.weaviate_schemas import WeaviateIndexOps

In [4]:
wv = WeaviateIndexOps(
    text_fields_to_embed = ['thought'],
    other_text_fields=['agent'],
    int_fields = ['relevance','time'],
    index_name = 'Thoughts',
)

In [5]:
wv.initialize_index(reset_index=True)

In [6]:
import datetime

In [7]:
ts = datetime.datetime.now()

In [8]:
wv.add_record({
    'thought': 'Feeling a bit hungry',
    'agent': 'misho',
    'relevance': 10,
    'time': int(ts.timestamp())
})

wv.add_record({
    'thought': 'Feeling a bit hungry',
    'agent': 'zhenya',
    'relevance': 4,
    'time': int(ts.timestamp())
})

In [17]:

wv.add_record({
    'thought': 'Totally starving',
    'agent': 'misho',
    'relevance': 4,
    'time': int(ts.timestamp())
})

In [9]:
wv.add_record({
    'thought': 'Feeling a bit tired',
    'agent': 'misho',
    'relevance': 10,
    'time': int(ts.timestamp())
})

wv.add_record({
    'thought': 'Feeling a bit tired',
    'agent': 'zhenya',
    'relevance': 10,
    'time': int(ts.timestamp())
})

In [32]:
data = wv.get_all_data(include_additional = False)

In [33]:
pd.DataFrame(data)

    agent  relevance               thought        time
0   misho         10   Feeling a bit tired  1684149129
1  zhenya         10   Feeling a bit tired  1684149129
2  zhenya          4  Feeling a bit hungry  1684149129
3   misho         10  Feeling a bit hungry  1684149129
4   misho          4      Totally starving  1684149129

In [36]:
wv.get_number_records()

5

In [34]:
data = wv.query_kw_and_filter(['hungry'],filter_by = 'agent', filter_value = 'misho')

In [26]:
import pandas as pd

In [35]:
pd.DataFrame(data)

,distance,id,agent,relevance,thought,time
0,0.241128,e83b06dd-1056-4033-ba0a-23e39adf8325,misho,10,Feeling a bit hungry,1684149129
1,0.258211,edf04ae1-0a89-4e5c-a71e-2b86a4ea89f1,misho,4,Totally starving,1684149129
2,0.719300,3805096a-4e13-4ae3-96de-eedc56cc237f,misho,10,Feeling a bit tired,1684149129